/* CSS headings */
H1 {
	color: white;
}
H2 {
	color: white;
}
H3 {
	color: white;
}
H4 {
	color: white;
}
H5 {
	color: white;
}
H6 {
	color: white;
}
H06 {
	color: black;
}
h1 {
	color: white;
}
h2 {
	color: white;
}
h3 {
	color: white;
}
h4 {
	color: white;
}
h5 {
	color: white;
}
h6 {
	color: white;
}
h06 {
	color: black;
}
/* HeadingSectionV1 - November 25th 2019 */