<style type="text/css">
/* The CSS Paragraphs stylesheet */
/* Rule count: 2 */
p { /* Rule 1 */
	color: white;
	font-family: "Liberation Serif";
} /* End of rule 1 */
p1 { /* Rule 2 */
	color: black;
	font-family: "Liberation Serif";
} /* End of rule 2 */
/* Origin: ParagraphSectionV1.css - November 25th 2019 */
/* Stylesheet version: 2 (February 15th 2020) */
</style>